#CompareNumberOfDrones {
    width: 100%;
    height: 100%;
    padding-top: 25vh;
    display: flex;
    flex-direction: column;
}

#CompareNumberOfDrones .display-number-of-drones-selected-container,
#CompareNumberOfDrones .display-number-of-drones-optimal-container {
    display: grid;
    grid-template-columns: 0.55fr 0.45fr;
    align-items: center;
    justify-items: left;
    padding-left: 25vw;
}

#CompareNumberOfDrones .display-number-of-drones-optimal-container .optimal-number-title-container {
    display: grid;
    grid-template-rows: repeat(2, 0.5fr);
}

#CompareNumberOfDrones .display-number-of-drones-selected-container .title-text,
#CompareNumberOfDrones .display-number-of-drones-optimal-container .optimal-number-title-container .title-text {
    font-size: calc(5px + 1.7vw);
    font-weight: bold;
    font-family: 'Segoe UI Black', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 10px; 
    text-shadow: 2px 2px 8px rgb(73, 73, 165);
    text-align: start;
}

#CompareNumberOfDrones .display-number-of-drones-optimal-container .optimal-number-title-container .title-text {
    padding-bottom: 0px;
}

#CompareNumberOfDrones .display-number-of-drones-selected-container .number-text,
#CompareNumberOfDrones .display-number-of-drones-optimal-container .number-text {
    font-size: calc(5px + 3vw);
    font-weight: bold;
    font-family: 'Segoe UI Black', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 10px; 
    text-shadow: 2px 2px 8px rgb(73, 73, 165);
}

#CompareNumberOfDrones .display-number-of-drones-optimal-container .number-text {
    padding-bottom: 0px;
}

#CompareNumberOfDrones .continue-buttons-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 40px;
    padding-left: 19.5vw;
}

#CompareNumberOfDrones .continue-buttons-container .box-continue-with-change-number-of-drones {
    width: 450px;
    height: 180px;
    border: 4px dashed rgb(73, 73, 165);
    display: grid;
    grid-template-rows: 0.8fr 0.2fr;
    gap: 20px;
    padding: 10px;
}

#CompareNumberOfDrones .continue-buttons-container .box-continue-with-change-number-of-drones .change-number-of-drones {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.45fr 0.4fr 0.25fr;
    gap: 10px;
    justify-items: left;
    align-items: center;
    padding-left: 10px;
}

#CompareNumberOfDrones .continue-buttons-container .box-continue-with-change-number-of-drones .change-number-of-drones .change-text {
    font-size: calc(5px + 1vw);
    color: rgb(9, 9, 96);
}

#CompareNumberOfDrones .continue-buttons-container .box-continue-with-change-number-of-drones .change-number-of-drones .change-number-of-drones-input {
    width: 100%;
    height: 50%;
    border: 1px solid rgb(9, 9, 96);
    border-radius: 8px;
}

#CompareNumberOfDrones .continue-buttons-container .box-continue-without-change-number-of-drones {
    width: 450px;
    height: 180px;
    border: 4px dashed rgb(73, 73, 165);
    display: flex;
    justify-content: center;
    align-items: center;
}

#CompareNumberOfDrones .continue-buttons-container .box-continue-with-change-number-of-drones .continue-button,
#CompareNumberOfDrones .continue-buttons-container .box-continue-without-change-number-of-drones .continue-button {
    width: 50%;
    height: 100%;
    background-color: #eaebee;
    border-radius: 100px;
    box-shadow: rgba(130, 141, 189, 0.2) 0 -25px 18px -14px inset,rgba(130, 141, 189, 0.15) 0 1px 2px,rgba(130, 141, 189, 0.15) 0 2px 4px,rgba(130, 141, 189, 0.15) 0 4px 8px,rgba(130, 141, 189, 0.15) 0 8px 16px,rgba(130, 141, 189, 0.15) 0 16px 32px;
    color: rgb(9, 9, 96);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: calc(5px + 1vw);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: rgba(130, 141, 189, 0.35) 0 -25px 18px -14px inset,rgba(130, 141, 189, 0.35) 0 1px 2px,rgba(130, 141, 189, 0.35) 0 2px 4px,rgba(130, 141, 189, 0.35) 0 4px 8px,rgba(130, 141, 189, 0.35) 0 8px 16px,rgba(130, 141, 189, 0.35) 0 16px 32px;
}

#CompareNumberOfDrones .continue-buttons-container .box-continue-with-change-number-of-drones .continue-button:hover,
#CompareNumberOfDrones .continue-buttons-container .box-continue-without-change-number-of-drones .continue-button:hover {
    transform: scale(1.05);
}

#CompareNumberOfDrones .continue-buttons-container .box-continue-with-change-number-of-drones .continue-button:disabled,
#CompareNumberOfDrones .continue-buttons-container .box-continue-without-change-number-of-drones .continue-button:disabled {
    opacity: 0.6;
    cursor: no-drop;
}

#CompareNumberOfDrones .continue-buttons-container .box-continue-with-change-number-of-drones .continue-button {
    width: 50%;
    height: 100%;
}

#CompareNumberOfDrones .continue-buttons-container .box-continue-without-change-number-of-drones .continue-button {
    width: 70%;
    height: 55%;
}





