:root {
    --clr-text-primary: white;
}

body,
h1,
h2,
h3 {
    font-family: Arial;
    text-align: center;
    color: var(--clr-text-primary);
}

header {
    font-size: calc(15px + 1.5vw);
}

h1,
h2,
h3 {
    font-size: calc(5px + 1vw);
}

button {
    border-radius: 15px;
    border-style: none;
    box-shadow: 0 0 5px 3px rgb(97, 218, 251);
    font-size: calc(5px + 1vw);
    padding: 0.5em;
}

#App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: calc(5px + 1vw);
}

.backgroundimg {
    background-image: url(./images/background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    height: 100vh;
    width: 100%;
}
